@font-face {
    font-family: mont-heavy;
    src: url(fonts/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: mont-light;
    src: url(fonts/Mont-ExtraLightDEMO.otf);
}

@font-face {
    font-family: headingnow24-regular;
    src: url(fonts/HeadingNowTrial-24Regular.ttf);
}

@font-face {
    font-family: headingnow55-medium;
    src: url(fonts/HeadingNowTrial-55Medium.ttf);
}

@font-face {
    font-family: headingnow56-bold;
    src: url(fonts/HeadingNowTrial-56Bold.ttf);
}

@font-face {
    font-family: headingnow41-thin;
    src: url(fonts/HeadingNowTrial-41Thin.ttf);
}

@font-face {
    font-family: coolvetica-condensed;
    src: url(fonts/coolvetica-condensed-rg.otf);
}

body {
    background-color: #202530;
}

.container-main {
    margin-top: 250px;
    margin-right: 40px;
    font-family: 'mont-heavy';
}

.home {
    margin-left: 25%;
    font-size: 24px;
}

.home-header1 {
    color: white;
    text-align: left;
}

.home-header2 {
    color: white;
    text-align: left;
}

#span-projetos {
    background-color: rgb(190, 99, 34);
}

.subtitle {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    width: 50%;
    font-family: 'headingnow41-thin';
}

.about {
    text-align: left;
    font-size: 24px;
    margin-left: 25%;
    margin-top: 20%;
    margin-right: 40px;
    color: white;
}

#about-subtitle {
    color: rgb(190, 99, 34);
    font-family: 'coolvetica-condensed';
    overflow-wrap: break-word;
    width: 75%;
    font-size: 26px;
    letter-spacing: 1px;
}


.container-two-column {
    display: flex;
    text-align: justify;
    margin-right: 40px;
    
}

.two-column {
    flex: 1;
    width: 50%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    
}   

.two-column img{
    width: 100%;
    height: 100%;
    margin-right: 40px;
    margin-top: 500px;
    
}

.two-column .comment {
    font-size: 16px;
    color: #98999c;
    
}
.two-column h3 {
    margin-right: 40px;
}

.two-column-service{
    text-align: center;
    display: flex;
    background-color: green;
    height: 700px;
    

}

/* Estilo para o botão */
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(190, 99, 34);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0; /* Comece com opacidade 0 */
    transition: opacity 0.3s ease; /* Transição suave de opacidade */
  }
  
  #topBtn:hover {
    background-color: rgb(224, 71, 24);
  }
  
  /* Mostrar o botão quando a opacidade é maior que 0 */
  #topBtn.show {
    opacity: 1;
  }


