*{
    margin-right: 40px;
}
@font-face {
    font-family: mont-heavy;
    src: url(fonts/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: mont-light;
    src: url(fonts/Mont-ExtraLightDEMO.otf);
}

@font-face {
    font-family: headingnow24-regular;
    src: url(fonts/HeadingNowTrial-24Regular.ttf);
}

@font-face {
    font-family: headingnow55-medium;
    src: url(fonts/HeadingNowTrial-55Medium.ttf);
}

@font-face {
    font-family: headingnow56-bold;
    src: url(fonts/HeadingNowTrial-56Bold.ttf);
}

@font-face {
    font-family: headingnow41-thin;
    src: url(fonts/HeadingNowTrial-41Thin.ttf);
}

@font-face {
    font-family: coolvetica-condensed;
    src: url(fonts/coolvetica-condensed-rg.otf);
}

body {
    background-color: #202530;
}

.container-main {
    margin-top: 250px;
    font-family: 'mont-heavy';
}

.home {
    margin-left: 25%;
    font-size: 24px;
}

.home-header1 {
    color: white;
    text-align: left;
}

.home-header2 {
    color: white;
    text-align: left;
}

#span-projetos {
    background-color: rgb(190, 99, 34);
}

.subtitle {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    width: 50%;
    font-family: 'headingnow41-thin';
}

.about {
    text-align: left;
    font-size: 24px;
    margin-left: 25%;
    margin-top: 20%;
    color: white;
}

#about-subtitle {
    color: rgb(190, 99, 34);
    font-family: 'coolvetica-condensed';
    overflow-wrap: break-word;
    width: 75%;
    font-size: 26px;
    letter-spacing: 1px;
}


.container-two-column {
    display: flex;
    text-align: justify;
    
}

.two-column {
    flex: 1;
    width: 50%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}   

.two-column img{
    width: 100%;
    height: 100%;
}

.two-column .comment {
    font-size: 16px;
    color: #98999c;
}

.two-column-service{
    text-align: center;
    display: flex;
    background-color: green;
    height: 700px;

}



